{{!< default}}

{{#post}}

<article class="gh-article {{post_class}}">

    {{#if feature_image}}
        <div class="cover-title-container">
            <div class="cover-title" >
                <header class="gh-header gh-canvas gh-title">
                    
                        <h1>{{title}}</h1>
                        {{#foreach authors}}<a href="{{url}}">{{name}}</a> <br>{{/foreach}}
                        <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time> - {{reading_time}}
                
                </header>
                <div class="black-cover"></div>
           
                    <img class="gh-feature-image"
                        srcset="{{img_url feature_image size="s"}} 300w,
                                {{img_url feature_image size="m"}} 600w,
                                {{img_url feature_image size="l"}} 1000w,
                                {{img_url feature_image size="xl"}} 2000w"
                        sizes="(max-width: 1000px) 1000px, 2000px"
                        loading="lazy"
                        src="{{img_url feature_image size="xl"}}"
                        alt="{{title}}"
                    />
         
            </div>
        </div>
    {{else}}
        <header class="gh-header gh-canvas gh-title">
            <h1>{{title}}</h1>
            {{#foreach authors}}<a href="{{url}}">{{name}}</a> <br>{{/foreach}}
            <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time> - {{reading_time}}
        </header>
    {{/if}}

    {{#if custom_excerpt}}
    <div class="abstract">
        <h2>Abstract</h2>
        <p>
        {{custom_excerpt}}
        </p>
    </div>
    {{/if}}

    <div class="gh-content gh-canvas">
        {{content}}
    </div>

    <br><br><hr>
    <script src="https://utteranc.es/client.js"
        repo="ivanmoreau/site"
        issue-term="pathname"
        theme="preferred-color-scheme"
        crossorigin="anonymous"
        async>
    </script>

</article>


{{/post}}
